body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set the size of the div element that contains the map */
#map {
  height: 100vh;  /* The height is 400 pixels */
  width: 100%;
  
 }

 .title {
     position: absolute;
     top:40px;
     left: 100px;
     z-index:100;
     color: #333;
     font-size: 88px;
     font-weight: bold;
     text-transform: uppercase;

 }

 .search-container {
     position: absolute;
     border-radius: 30px;
     z-index: 100;
     top: 150px;
     left: 100px;
     width: 350px;
     height: 60px;
     background-color: #454E53;
     display: flex;
 }

 .search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
 }

 .search-container input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
 }

 .search-container input:focus {
    outline: none;
 }

 .search i {
    font-size: 25px;
    color: white;
 }

 .stores-list-container {
     bottom: 20px;
     border-radius: 30px;
     width: 350px;
     position: absolute;
     z-index: 9999;
     background: white;
     left:100px;
     top:240px;
 }

 .stores-list-container .stores-list {
     padding-left: 20px;
     padding-top: 20px;
     padding-right: 20px;
    
 }

 .store-container {
     height: 100px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: auto;
 }

 .store-address {
     width: 250px;
     color: #454E53;
 }

 .store-phone-number {
     margin-top: 10px;
     width: 250px;
     font-size: small;
     color: darkgrey;
 }

 .store-container hr {
    color: gainsboro;
 }

 .gm-style-mtc {
    display: none;
  }