body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set the size of the div element that contains the map */
#map {
  height: 100vh;  /* The height is 400 pixels */
  width: 100%;
  
 }

 .title {
     position: absolute;
     top:30px;
     left: 100px;
     z-index:100;
     color: #333;
     font-size: 88px;
     font-weight: bold;
     text-transform: uppercase;

 }

 .search-container {
     position: absolute;
     border-radius: 30px;
     z-index: 100;
     top: 140px;
     left: 100px;
     width: 350px;
     height: 50px;
     background-color: #f44336;
     display: flex;
 }

 .search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
 }

 .search-container input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
 }

 .search-container input:focus {
    outline: none;
 }

 .search i {
    font-size: 25px;
    color: white;
 }

 .stores-list-container {
     bottom: 20px;
     border-radius: 30px;
     width: 350px;
     position: absolute;
     z-index: 9999;
     background: white;
     left:100px;
     top:220px;
 }

 .stores-list-container .stores-list {
     padding-left: 20px;
     padding-top: 20px;
     padding-right: 20px;
    
 }

 .store-container {
     height: 80px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: auto;
     padding-top: 20px;
     padding-left: 20px;
     position: relative;
     border-radius: 25px;
     background-color: white;
     -webkit-transition: background-color 0.5s;
 }

 .store-container:hover {
     background-color: lightgrey;
     -webkit-transition: background-color 0.5s;
 }
 .store-address {
     width: 250px;
     color: #454E53;
 }

 .store-phone-number {
     margin-top: 10px;
     width: 250px;
     font-size: small;
     color: darkgrey;
 }

 .store-container hr {
    color: gainsboro;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
 }

 .circle {
     width: 26px;
     height: 26px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     border-radius: 50%;
     z-index: 9999;
     /**
     on focus #ef5350
     **/
     background: #ef9a9a;
     position: absolute;
     left: 260px;
     top: 32px;
     text-align: center;
     -webkit-transition: background 0.5s;
  }

  .circle span {
    color: white;
    font-size: small;
  }

  .store-container:hover .circle {
    background: #ef5350;
    -webkit-transition: background 0.5s;
 }

 .marker {
     color: #ef5350;
     font-size: medium;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: bold;
 }

 /**
 To disable the map/satellite google maps button
 **/
 .gm-style-mtc {
    display: none;
  }