body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set the size of the div element that contains the map */
#map {
  height: 100vh;  /* The height is 400 pixels */
  width: 100%;
  
 }

 .title {
     position: absolute;
     top:30px;
     left: 100px;
     z-index:100;
     color: #333;
     font-size: 88px;
     font-weight: bold;
     text-transform: uppercase;

 }

 .search-container {
     position: absolute;
     border-radius: 30px;
     z-index: 100;
     top: 140px;
     left: 100px;
     width: 350px;
     height: 50px;
     background-color: #f44336;
     display: flex;
 }

 .search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
 }

 .search-container input {
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
 }

 .search-container input:focus {
    outline: none;
 }

 .search i {
    font-size: 25px;
    color: white;
 }

 .stores-list-container {
     bottom: 20px;
     border-radius: 30px;
     width: 350px;
     position: absolute;
     z-index: 9999;
     background: white;
     left:100px;
     top:220px;
 }

 .stores-list-container .stores-list {
     border: 30px;
     bottom:20px;
     padding-left: 20px;
     padding-top: 20px;
     padding-right: 20px;
    
 }

 .store-container {
     display: flex;
     border-bottom: 1px solid #979797;
 }

 .store-info-container {
     flex-grow: 1;
 }

 .store-address {
     font-size: 21px;
     color: #514C4C;
     margin-top: 15px;
 }

 .store-address span {
     display: block;
 }

 .store-phone-number {
     color: #B5ADAD;
     margin-top: 15px;
     margin-bottom: 15px;
 }

 .store-number-container {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .store-number {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 30px;
     height: 30px;
     background-color: #454E53;
     color: #B5ADAD;
     border-radius: 50%;
     font-size: 12px;
     
 }

